<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="backmid">
      <hr />
      <form>
        <h4>Cadastro de profissional</h4><br>
          <label for="name">Nome completo:</label><br>
          <input #input type="text" id="name"/><br><br>
          <label for="funcao">Função:</label><br>
          <select name="funcao" id="funcao">
            <option value=""></option>
            <option value="barbeiro">Barbeiro</option>
            <option value="manicure">Manicure</option>
            <option value="admin">Admin</option>
          </select><br><br>
          <label for="servicos">Serviços:</label><br>
          <input #input type="text" id="servicos"/><br><br>
    <button (click)="cadastroP.add(input.value); input.value = ''">Cadastrar</button>&nbsp;&nbsp;
    <button type="reset" >Limpar</button>
      </form><br>
    </div>
    <div class="backmid">
      <ol>
        <li *ngFor="let c of cadastroP.getList(); index as i">
          {{c.name}}
          <button (click)="cadastroP.remove(i)">Excluir</button>
        </li>
      </ol>
    </div>
  </body>
  <footer>
  <p>Todos os direitos reservados.</p>
</footer>
</html>