<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="backmid"><hr />
      <form>
        <h4>Login</h4><br>
        <label for="name">Usuário</label><br>
        <input #input type="text" id="name"/><br><br>
        <label for="senha">Senha</label><br>
        <input #input type="password" id="senha"/><br><br>
        <button type="button">Entrar</button>&nbsp;&nbsp;
        <button type="reset" >Limpar</button><br><br>
        <p class="link"><a href="https://angular-ivy-stmrnb.stackblitz.io/cadastro-profissional">Criar conta</a></p> <!-- Se quiser, pode substituir por uma rota. -->
      </form><br>
    </div>  
  </body>
  <footer>
    <p>Todos os direitos reservados.</p>
  </footer>
</html>