<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <hello name="{{ name }}"></hello>
    <hr />
    <div *ngIf="error" style="color: red">
      <hr/>
      <div *ngIf="error.message">{{ error.message}}</div>
      <div *ngIf="!error.message">{{ error | json}}</div>
      <hr/>
    </div>
    <div *ngIf="!auth">
      <div>Usuário</div>
      <div><input type="text" [(ngModel)]="login" /></div>
      <div>Senha</div>
      <div><input type="password" [(ngModel)]="password" /></div>
      <hr />
      <div *ngIf="loading">Processando...</div>
      <div *ngIf="!loading">
        <input type="button" value="Entrar" (click)="postLogin()" />
      </div>
    </div>
    <div *ngIf="auth">
      <div>
        Bem vindo, {{ auth.username }}
        <input type="button" value="Sair" (click)="postLogout()" />
      </div>
      <hr />
      <div *ngIf="loading">Processando...</div>
      <button *ngIf="!loading" (click)="getList()">Atualizar pessoas físicas</button>
      <div *ngIf="list">
        <table>
          <tr>
            <th>id</th>
            <th>nome</th>
            <th>endereço</th>
          </tr>
          <tr *ngFor="let item of list">
            <td>{{ item['id'] }}</td>
            <td>{{ item['nome'] }}</td>
            <td>{{ item['endereco'] }}</td>
          </tr>
        </table>
      </div>
    </div>   
  </body>
  <footer>
    <p>Todos os direitos reservados.</p>
  </footer>
</html>

