<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div class="container-fluid">
  <h2>Cadastro de usuário</h2>
  <input #input type="text" />
  <button (click)="cadastroU.add(input.value); input.value = ''">+</button>
  <hr />
  <ul>
    <li *ngFor="let c of cadastroU.getList(); index as i">
      {{ cadastroU.title }}
      <button (click)="cadastroU.remove(i)">-</button>
    </li>
  </ul>
  </div>
  </body>
</html>