<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="backmid">
      <hr />
      <form>
          <h4>Cadastro de serviço</h4><br>
          <label for="name">Nome do serviço:</label><br>
          <input #input type="text" id="name"/><br><br>
          <label for="time">Duração:</label><br>
          <input #input type="time" id="time"/><br><br>
          <label for="price">Valor:</label><br>
          <input #input type="number" id="price"/><br><br>
         <!--<button (click)="nameC.add(input.value); input.value = ''">Cadastrar</button>&nbsp;&nbsp;
          <button type="reset" >Limpar</button>--> 
      </form><br>
    </div>
    <div class="backmid">  
    </div>
  </body>
  <footer>
  <p>Todos os direitos reservados.</p>
</footer>
</html>