<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="backmid"><hr/>
      <form class="formCad">
        <h4>Sobre:</h4>
        <br/>
          <p>Nome: Karen Livia Alves.</p>
          <p>RA: 0050831921045.</p>
          <p>GitHub: <a href="https://github.com/KarenLivia"> https://github.com/KarenLivia</a></p> 
      </form><br>
    </div>
  </body>
  <footer>
  <p>Todos os direitos reservados.</p>
</footer>
</html>
