<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  <div class="container-fluid">
  <h5>Cadastro de cliente</h5>
  <input #input type="text" />
  <button (click)="cadastroC.add(input.value); input.value = ''">+</button>
  <hr />
  <ul>
    <li *ngFor="let c of cadastroC.getList(); index as i">
      {{c.title}}
      <button (click)="cadastroC.remove(i)">-</button>
    </li>
  </ul>
  </div>
  </body>
</html>